@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Cabeçalho */

#navbar {
    background-color: rgb(44, 31, 31);
    text-align: center;
    width: 100%;
}

.logo {
    width: 500px;
}

#area-botoes {
    padding: 20px;
    text-align: center;
    background-image: url('../imagens/fundo-botao.png');
    background-size: 7vh;
    border-bottom: 5px solid white;
    font-family: 'Poppins', sans-serif;
}

.botoes {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15pt;
}

.botoes a:link,
a:visited {
    color: white;
    text-decoration: none;
    background: rgb(44, 31, 31);
    padding: 5px;
}

.botoes a:hover {
    color: #a08172;
    background-color: white;
}

#selecionado a {
    color: #a08172;
    background-color: white;
}

/* LAYOUT DA PAGINA INICIAL */

#home {
    background-image: url('../imagens/home.jpg');
    height: 350px;
    background-size: 200vh;
    background-position: center;
}

.home-text {
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50pt;
    padding-left: 50px;
    padding-top: 25px;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
}

.home-text h1 {
    font-size: 64px;
    color: gold;
    font-family: 'Lato', sans-serif;
}

.home-text p {
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#area-principal {
    margin: auto;
    padding: 15px;
    width: 60%;
    float: center;
}

.postagem {
    font-size: 15px;
    padding: 10px;
    background: white;
    border-radius: 10px 10px 10px 10px;
    text-align: justify;
}

.imagens-inicio {
    display: block;
    width: 100%;
    border: 4px solid gray;
    border-radius: 10px 10px;
    margin: auto;
}

/* PAGINA - MODELOS */
#area-modelos {
    width: 920px;
    margin: auto;
}

#area-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.conteudo-modelo {
    padding: 5px;
    margin: 10px;
    background: white;
    width: 300px;
    height: fit-content;
    box-shadow: 4px 4px black;
    text-align: center;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Pagina - Encomendas */

#area-pedidos {
    margin: auto;
    padding: 15px;
    width: 620px;
    float: center;
}

#pedido1 {
    font-size: 15px;
    padding: 10px;
    background: white;
    border-radius: 10px 10px 10px 10px;
}

#pedido2 {
    font-size: 15px;
    padding: 10px;
    background: white;
    border-radius: 10px 10px 10px 10px;
}

.botao-pedido {
    color: white;
    text-decoration: none;
    background: rgb(44, 31, 31);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.botao-pedido a:link,
a:visited {
    color: white;
    text-decoration: none;
    background: rgb(44, 31, 31);
    padding: 5px;
}

.botao-pedido a:hover {
    color: #a08172;
    background-color: white;
}

/*Rodape*/
#rodape {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}


/* Seletores */
body {
    background: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 28, 28);
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 28, 28);
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 28, 28);
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 28, 28);
}

h5 {
    font-family: 'Poppins', sans-serif;
    color: rgb(39, 28, 28);
}

/* Responsive */

@media screen and (max-width: 1366px) {
    .logo {
        width: 400px;
    }

    #home {
        height: 250px;
        background-size: 210vh;
    }

    #area-principal {
        width: 1200px;
    }

    #area-botoes {
        padding: 20px;
    }

    .botoes {
        padding: 15px;
        font-size: 1em;
    }

    #rodape {
        padding: 3px;
    }

}

@media screen and (max-width: 1000px) {
    .logo {
        width: 300px;
    }

    #area-principal {
        width: 100%;
    }

    #area-botoes {
        padding: 15px;
    }

    .botoes {
        padding: 8px;
        font-size: 1em;
    }

    #area-grid {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    #home {
        height: 300px;
        background-size: 160vh;
        background-position: center;
    }

    .home-text {
        color: gold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 64px;
        padding-top: 25px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }

    .home-text h1 {
        font-size: 64px;
        color: gold;
        font-family: 'Lato', sans-serif;
        margin-right: 55px;
    }

    .home-text p {
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 55px;
        margin-top: -50px;
    }

    #rodape {
        padding: 3px;
    }
}

@media screen and (max-width: 660px) {
    .logo {
        width: 280px;
    }

    #area-principal {
        width: 100%;
    }

    #area-botoes {
        padding: 6px;
    }

    .botoes {
        padding: 4.5px;
        font-size: 0.8em;
    }

    #area-grid {
        grid-template-columns: 1fr;
        margin: auto;
    }

    #area-modelos {
        width: 287px;
    }

    .conteudo-modelo {
        width: fit-content;
    }

    .postagem {
        font-size: 12px;
    }

    nav {
        width: 100%;
    }

    #rodape {
        padding: 3px;
    }

    #area-pedidos {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .logo {
        width: 240px;
    }

    #area-principal {
        width: 100%;
    }

    #area-botoes {
        padding: 5px;
        padding-bottom: 15px;
    }

    .botoes {
        padding: 4.5px;
        font-size: 0.8em;
    }

    #home {
        height: 250px;
        background-size: 160vh;
        background-position: center;
    }

    .home-text {
        color: gold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 50px;
        padding-top: 25px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }

    .home-text h1 {
        font-size: 30px;
        color: gold;
        font-family: 'Lato', sans-serif;
        margin-right: 55px;
    }

    .home-text p {
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 55px;
        margin-top: -50px;
    }

    #area-grid {
        grid-template-columns: 1fr;
        margin: auto;
    }

    #area-modelos {
        width: 287px;
    }

    .conteudo-modelo {
        width: fit-content;
    }

    .postagem {
        font-size: 12px;
    }

    #rodape {
        padding: 3px;
    }

}


@media screen and (max-width: 360px) {
    .logo {
        width: 210px;
    }

    #area-principal {
        width: 100%;
    }

    #area-botoes {
        padding: 5px;
        padding-bottom: 15px;
    }

    .botoes {
        padding: 0px;
        font-size: 0.72em;
        margin: 5px;
    }

    #home {
        height: 250px;
        background-size: 160vh;
        background-position: center;
    }

    .home-text {
        color: gold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding-left: 50px;
        padding-top: 25px;
        text-shadow: 0.1em 0.1em 0.2em black;
    }

    .home-text h1 {
        font-size: 30px;
        color: gold;
        font-family: 'Lato', sans-serif;
        margin-right: 55px;
    }

    .home-text p {
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 55px;
        margin-top: -50px;
    }

    #area-grid {
        grid-template-columns: 1fr;
        margin: auto;
    }

    #area-modelos {
        width: 287px;
    }

    .conteudo-modelo {
        width: fit-content;
    }

    .postagem {
        font-size: 12px;
    }

    #rodape {
        padding: 2px;
    }
}